<h1>N+1問題</h1>
<div class="row">
  <div class="offset2 span3">名前</div><div class="span2">グループ</div>
</div>
<% @users.each do |user| %>
  <% color = 'border-color-' + cycle('blue', 'green', 'red', 'orange', 'darken') %>
   
  <div class="row">
    <div class="offset2 span3 <%= color %>"><%= user.name %></div>
    <div class="span2 <%= color %>">
      <% user.groups.each do |group| %>
        <%= group.name %>
      <% end %>
    </div>
  </div>
<% end %>

